.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-bhp9pd-MuiPaper-root-MuiCard-root {
  border-radius: 5%;
  background: #86a6cf;
  width: max-content;
  height: max-content;
}

.cameraContent {
  display: flex;
  width: 100px;
  flex-direction: column;
  background: #51719a;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.cameraContent:hover {
  transform: translateY(-5px);
}

.title {
  margin-top: 10px;
}

.statusText.Offline {
  color: black;
}

.statusText.Online {
  color: white;
}

.iconContainer {
  font-size: 70px;
}

.box {
  min-height: 100vh;
  margin-top: 20px;
  margin-left: 20px;
}

.menuIcon {
  color: white;
}

.logo-pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #3f51b5;
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.uploaded-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #dee2fa;
  width: fit-content;
  margin: auto;
  margin-top: 0.5em;
}
