.video-container {
  position: relative;
  height: 100vh;
}

.video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.menu-container {
  position: absolute;
  top: 10px; /* Ajusta la posición vertical según sea necesario */
  left: 10px; /* Ajusta la posición horizontal según sea necesario */
  z-index: 1;
}

.menu-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuir los elementos de manera uniforme */
  align-items: center; /* Alinear los elementos a la izquierda */
  width: max-content;
  background-color: #ccc;
  border: 1px solid #ccc;
  padding: 5px;
}

.checkbox-container label {
  margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}

.hidden {
  display: none;
}
